<div class="container my-3">
    <div class="row">
        <!-- Products List -->
        {{#each Products}}
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-left">
                <a href="/products/{{id}}" title="Click to view details">
                    <img class="card-img-top book-cover" src="images/{{imagepath}}" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text book-summary">{{summary}}</p>
                </div>
                <div class="card-footer">
                    <div class="book-price text-left pull-left">{{price}}</div>
                    <button type="submit" class="btn btn-success btn-sm pull-right btn-cart-add" data-id="1">Add to cart</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>